dist: focal
language: php

matrix:
    include:
        - php: 7.4
          env: COMPOSER_FLAGS='--prefer-lowest --prefer-stable'
        - php: 8.0
        - php: 8.1

install:
  - composer update $COMPOSER_FLAGS

script:
  - vendor/bin/phpcs
  - vendor/bin/phpstan
  - vendor/bin/phpspec run -f pretty
  - vendor/bin/behat --no-snippets --verbose
