includes:
    - vendor/phpstan/phpstan-beberlei-assert/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
parameters:
    level: 7
    paths:
        - Behat/Context
        - Command
        - DataFixtures
        - Entity
        - Model
        - Teryt
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Parameter \#5 \$oneWay of method SoapClient::__doRequest\(\) expects \w+, \S+ given\.#'
